In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 데이터 불러오기
raw = pd.read_csv('../../final_프젝_데이터/인구밀도_20240731160938.csv',index_col=False)

In [3]:
df = raw.copy()

In [4]:
df.head()

   지역구   동별  인구밀도 (명/㎢)
0   종합   종합       15974
1  종로구   종합        6365
2  종로구  사직동        7606
3  종로구  삼청동        1773
4  종로구  부암동        4201

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역구         452 non-null    object
 1   동별          452 non-null    object
 2   인구밀도 (명/㎢)  452 non-null    int64
dtypes: int64(1), object(2)
memory usage: 10.7+ KB