In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')
plt.rcParams['axes.unicode_minus'] =False
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [15]:
# 데이터 불러오기
raw = pd.read_csv('../../final_프젝_데이터/LOCAL_PEOPLE_DONG_202406.csv',index_col=False)

In [16]:
df = raw.copy()

In [17]:
df.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20240601,0,11110515,15064.5012,526.3518,335.3927,578.6529,362.0918,423.3428,373.9520,...,449.5309,572.7480,660.4763,676.4423,840.1702,623.9791,614.9799,544.8446,327.2646,1154.5795
1,20240601,0,11110530,12135.6579,211.7727,94.1210,238.4391,318.2036,430.8536,502.1432,...,440.2347,530.1791,746.3415,535.8321,710.3134,512.4412,522.6594,413.2529,286.9292,818.4851
2,20240601,0,11110540,3823.0432,48.7768,37.3746,317.3049,327.8128,116.3921,104.5766,...,90.4322,101.8145,129.4881,165.4051,182.9473,130.3420,131.0823,133.5997,116.7484,276.9340
3,20240601,0,11110550,13206.3659,430.5519,333.8439,409.2495,452.8922,372.2209,317.1984,...,338.3853,362.3611,449.7848,569.2197,649.6453,523.5262,556.9694,504.8757,397.9339,1085.4018
4,20240601,0,11110560,19030.4431,582.3499,421.2325,507.3835,637.0036,431.3454,342.4633,...,412.8559,431.0172,764.7457,762.7924,926.3720,871.3921,991.4785,827.0552,656.4224,1643.4988

In [18]:
# 데이터 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305280 entries, 0 to 305279
Data columns (total 32 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준일ID            305280 non-null  int64
 1   시간대구분            305280 non-null  int64
 2   행정동코드            305280 non-null  int64
 3   총생활인구수           305280 non-null  float64
 4   남자0세부터9세생활인구수    305280 non-null  float64
 5   남자10세부터14세생활인구수  305280 non-null  float64
 6   남자15세부터19세생활인구수  305280 non-null  float64
 7   남자20세부터24세생활인구수  305280 non-null  float64
 8   남자25세부터29세생활인구수  305280 non-null  float64
 9   남자30세부터34세생활인구수  305280 non-null  float64
 10  남자35세부터39세생활인구수  305280 non-null  float64
 11  남자40세부터44세생활인구수  305280 non-null  float64
 12  남자45세부터49세생활인구수  305280 non-null  float64
 13  남자50세부터54세생활인구수  305280 non-null  float64
 14  남자55세부터59세생활인구수  305280 non-null  float64
 15  남자60세부터64세생활인구수  305280 non-null  float64
 16  남자65세부터69세생활인구수  305280 non-null  float64
 17  남자70세이상생활인구수     305280 non-null  float64
 18  여자0세부터9세생활인구수    305280 non-null  float64
 19  여자10세부터14세생활인구수  305280 non-null  float64
 20  여자15세부터19세생활인구수  305280 non-null  float64
 21  여자20세부터24세생활인구수  305280 non-null  float64
 22  여자25세부터29세생활인구수  305280 non-null  float64
 23  여자30세부터34세생활인구수  305280 non-null  float64
 24  여자35세부터39세생활인구수  305280 non-null  float64
 25  여자40세부터44세생활인구수  305280 non-null  float64
 26  여자45세부터49세생활인구수  305280 non-null  float64
 27  여자50세부터54세생활인구수  305280 non-null  float64
 28  여자55세부터59세생활인구수  305280 non-null  float64
 29  여자60세부터64세생활인구수  305280 non-null  float64
 30  여자65세부터69세생활인구수  305280 non-null  float64
 31  여자70세이상생활인구수     305280 non-null  float64
dtypes: float64(29), int64(3)
memory usage: 74.5 MB

In [19]:
df['행정동코드'].head(3)

0    11110515
1    11110530
2    11110540
Name: 행정동코드, dtype: int64

In [20]:
# 동 딕셔너리
# 행정동 코드와 이름 매핑 사전 생성
dong_code_to_name = {
    11680660: '강남구 개포1동',
    11680670: '강남구 개포2동',
    11680690: '강남구 개포4동',
    11680521: '강남구 논현1동',
    11680531: '강남구 논현2동',
    11680600: '강남구 대치1동',
    11680610: '강남구 대치2동',
    11680630: '강남구 대치4동',
    11680655: '강남구 도곡1동',
    11680656: '강남구 도곡2동',
    11680580: '강남구 삼성1동',
    11680590: '강남구 삼성2동',
    11680700: '강남구 세곡동',
    11680750: '강남구 수서동',
    11680510: '강남구 신사동',
    11680545: '강남구 압구정동',
    11680640: '강남구 역삼1동',
    11680650: '강남구 역삼2동',
    11680730: '강남구 일원1동',
    11680740: '강남구 일원2동',
    11680720: '강남구 일원본동',
    11680565: '강남구 청담동',
    11740515: '강동구 강일동',
    11740550: '강동구 고덕제1동',
    11740560: '강동구 고덕제2동',
    11740685: '강동구 길동',
    11740690: '강동구 둔촌제1동',
    11740700: '강동구 둔촌제2동',
    11740530: '강동구 명일제1동',
    11740540: '강동구 명일제2동',
    11740520: '강동구 상일동',
    11740640: '강동구 성내제1동',
    11740650: '강동구 성내제2동',
    11740660: '강동구 성내제3동',
    11740570: '강동구 암사제1동',
    11740580: '강동구 암사제2동',
    11740590: '강동구 암사제3동',
    11740600: '강동구 천호제1동',
    11740610: '강동구 천호제2동',
    11740620: '강동구 천호제3동',
    11305535: '강북구 미아동',
    11305590: '강북구 번제1동',
    11305600: '강북구 번제2동',
    11305606: '강북구 번제3동',
    11305575: '강북구 삼각산동',
    11305534: '강북구 삼양동',
    11305545: '강북구 송중동',
    11305555: '강북구 송천동',
    11305610: '강북구 수유제1동',
    11305620: '강북구 수유제2동',
    11305630: '강북구 수유제3동',
    11305645: '강북구 우이동',
    11305660: '강북구 인수동',
    11500603: '강서구 가양제1동',
    11500604: '강서구 가양제2동',
    11500605: '강서구 가양제3동',
    11500620: '강서구 공항동',
    11500520: '강서구 등촌제1동',
    11500530: '강서구 등촌제2동',
    11500535: '강서구 등촌제3동',
    11500611: '강서구 발산제1동',
    11500630: '강서구 방화제1동',
    11500640: '강서구 방화제2동',
    11500641: '강서구 방화제3동',
    11500510: '강서구 염창동',
    11500615: '강서구 우장산동',
    11500590: '강서구 화곡본동',
    11500540: '강서구 화곡제1동',
    11500550: '강서구 화곡제2동',
    11500560: '강서구 화곡제3동',
    11500570: '강서구 화곡제4동',
    11500591: '강서구 화곡제6동',
    11500593: '강서구 화곡제8동',
    11620585: '관악구 낙성대동',
    11620775: '관악구 난곡동',
    11620715: '관악구 난향동',
    11620630: '관악구 남현동',
    11620735: '관악구 대학동',
    11620765: '관악구 미성동',
    11620525: '관악구 보라매동',
    11620745: '관악구 삼성동',
    11620665: '관악구 서림동',
    11620645: '관악구 서원동',
    11620565: '관악구 성현동',
    11620695: '관악구 신림동',
    11620685: '관악구 신사동',
    11620655: '관악구 신원동',
    11620605: '관악구 은천동',
    11620625: '관악구 인헌동',
    11620725: '관악구 조원동',
    11620615: '관악구 중앙동',
    11620595: '관악구 청룡동',
    11620545: '관악구 청림동',
    11620575: '관악구 행운동',
    11215810: '광진구 광장동',
    11215850: '광진구 구의제1동',
    11215860: '광진구 구의제2동',
    11215870: '광진구 구의제3동',
    11215730: '광진구 군자동',
    11215780: '광진구 능동',
    11215820: '광진구 자양제1동',
    11215830: '광진구 자양제2동',
    11215840: '광진구 자양제3동',
    11215847: '광진구 자양제4동',
    11215740: '광진구 중곡제1동',
    11215750: '광진구 중곡제2동',
    11215760: '광진구 중곡제3동',
    11215770: '광진구 중곡제4동',
    11215710: '광진구 화양동',
    11530595: '구로구 가리봉동',
    11530740: '구로구 개봉제1동',
    11530750: '구로구 개봉제2동',
    11530760: '구로구 개봉제3동',
    11530720: '구로구 고척제1동',
    11530730: '구로구 고척제2동',
    11530520: '구로구 구로제1동',
    11530530: '구로구 구로제2동',
    11530540: '구로구 구로제3동',
    11530550: '구로구 구로제4동',
    11530560: '구로구 구로제5동',
    11530790: '구로구 수궁동',
    11530510: '구로구 신도림동',
    11530770: '구로구 오류제1동',
    11530780: '구로구 오류제2동',
    11545510: '금천구 가산동',
    11545610: '금천구 독산제1동',
    11545620: '금천구 독산제2동',
    11545630: '금천구 독산제3동',
    11545640: '금천구 독산제4동',
    11545670: '금천구 시흥제1동',
    11545680: '금천구 시흥제2동',
    11545690: '금천구 시흥제3동',
    11545700: '금천구 시흥제4동',
    11545710: '금천구 시흥제5동',
    11350605: '노원구 공릉1.3동',
    11350600: '노원구 공릉2동',
    11350720: '노원구 상계10동',
    11350630: '노원구 상계1동',
    11350640: '노원구 상계2동',
    11350665: '노원구 상계3.4동',
    11350670: '노원구 상계5동',
    11350695: '노원구 상계6.7동',
    11350700: '노원구 상계8동',
    11350710: '노원구 상계9동',
    11350560: '노원구 월계1동',
    11350570: '노원구 월계2동',
    11350580: '노원구 월계3동',
    11350621: '노원구 중계1동',
    11350625: '노원구 중계2.3동',
    11350624: '노원구 중계4동',
    11350619: '노원구 중계본동',
    11350611: '노원구 하계1동',
    11350612: '노원구 하계2동',
    11320521: '도봉구 도봉제1동',
    11320522: '도봉구 도봉제2동',
    11320690: '도봉구 방학제1동',
    11320700: '도봉구 방학제2동',
    11320710: '도봉구 방학제3동',
    11320660: '도봉구 쌍문제1동',
    11320670: '도봉구 쌍문제2동',
    11320680: '도봉구 쌍문제3동',
    11320681: '도봉구 쌍문제4동',
    11320511: '도봉구 창제1동',
    11320512: '도봉구 창제2동',
    11320513: '도봉구 창제3동',
    11320514: '도봉구 창제4동',
    11320515: '도봉구 창제5동',
    11230600: '동대문구 답십리제1동',
    11230610: '동대문구 답십리제2동',
    11230536: '동대문구 용신동',
    11230740: '동대문구 이문제1동',
    11230750: '동대문구 이문제2동',
    11230650: '동대문구 장안제1동',
    11230660: '동대문구 장안제2동',
    11230560: '동대문구 전농제1동',
    11230570: '동대문구 전농제2동',
    11230545: '동대문구 제기동',
    11230705: '동대문구 청량리동',
    11230710: '동대문구 회기동',
    11230720: '동대문구 휘경제1동',
    11230730: '동대문구 휘경제2동',
    11590510: '동작구 노량진제1동',
    11590520: '동작구 노량진제2동',
    11590660: '동작구 대방동',
    11590620: '동작구 사당제1동',
    11590630: '동작구 사당제2동',
    11590640: '동작구 사당제3동',
    11590650: '동작구 사당제4동',
    11590651: '동작구 사당제5동',
    11590530: '동작구 상도제1동',
    11590540: '동작구 상도제2동',
    11590550: '동작구 상도제3동',
    11590560: '동작구 상도제4동',
    11590670: '동작구 신대방제1동',
    11590680: '동작구 신대방제2동',
    11590605: '동작구 흑석동',
    11440565: '마포구 공덕동',
    11440600: '마포구 대흥동',
    11440585: '마포구 도화동',
    11440690: '마포구 망원제1동',
    11440700: '마포구 망원제2동',
    11440740: '마포구 상암동',
    11440655: '마포구 서강동',
    11440660: '마포구 서교동',
    11440720: '마포구 성산제1동',
    11440730: '마포구 성산제2동',
    11440630: '마포구 신수동',
    11440555: '마포구 아현동',
    11440710: '마포구 연남동',
    11440610: '마포구 염리동',
    11440590: '마포구 용강동',
    11440680: '마포구 합정동',
    11410690: '서대문구 남가좌제1동',
    11410700: '서대문구 남가좌제2동',
    11410710: '서대문구 북가좌제1동',
    11410720: '서대문구 북가좌제2동',
    11410555: '서대문구 북아현동',
    11410585: '서대문구 신촌동',
    11410615: '서대문구 연희동',
    11410520: '서대문구 천연동',
    11410565: '서대문구 충현동',
    11410660: '서대문구 홍은제1동',
    11410685: '서대문구 홍은제2동',
    11410620: '서대문구 홍제제1동',
    11410655: '서대문구 홍제제2동',
    11410640: '서대문구 홍제제3동',
    11650660: '서초구 내곡동',
    11650560: '서초구 반포1동',
    11650570: '서초구 반포2동',
    11650580: '서초구 반포3동',
    11650581: '서초구 반포4동',
    11650550: '서초구 반포본동',
    11650600: '서초구 방배1동',
    11650610: '서초구 방배2동',
    11650620: '서초구 방배3동',
    11650621: '서초구 방배4동',
    11650590: '서초구 방배본동',
    11650510: '서초구 서초1동',
    11650520: '서초구 서초2동',
    11650530: '서초구 서초3동',
    11650531: '서초구 서초4동',
    11650651: '서초구 양재1동',
    11650652: '서초구 양재2동',
    11650540: '서초구 잠원동',
    11200590: '성동구 금호1가동',
    11200615: '성동구 금호2.3가동',
    11200620: '성동구 금호4가동',
    11200540: '성동구 마장동',
    11200550: '성동구 사근동',
    11200650: '성동구 성수1가제1동',
    11200660: '성동구 성수1가제2동',
    11200670: '성동구 성수2가제1동',
    11200690: '성동구 성수2가제3동',
    11200720: '성동구 송정동',
    11200645: '성동구 옥수동',
    11200535: '성동구 왕십리도선동',
    11200520: '성동구 왕십리제2동',
    11200790: '성동구 용답동',
     11200560: '성동구 행당제1동',
    11200570: '성동구 행당제2동',
    11290660: '성북구 길음제1동',
    11290685: '성북구 길음제2동',
    11290580: '성북구 돈암제1동',
    11290590: '성북구 돈암제2동',
    11290575: '성북구 동선동',
    11290610: '성북구 보문동',
    11290555: '성북구 삼선동',
    11290525: '성북구 성북동',
    11290600: '성북구 안암동',
    11290715: '성북구 월곡제1동',
    11290725: '성북구 월곡제2동',
    11290760: '성북구 장위제1동',
    11290770: '성북구 장위제2동',
    11290780: '성북구 장위제3동',
    11290620: '성북구 정릉제1동',
    11290630: '성북구 정릉제2동',
    11290640: '성북구 정릉제3동',
    11290650: '성북구 정릉제4동',
    11290705: '성북구 종암동',
    11710631: '송파구 가락1동',
    11710632: '송파구 가락2동',
    11710620: '송파구 가락본동',
    11710531: '송파구 거여1동',
    11710532: '송파구 거여2동',
    11710540: '송파구 마천1동',
    11710550: '송파구 마천2동',
    11710641: '송파구 문정1동',
    11710642: '송파구 문정2동',
    11710561: '송파구 방이1동',
    11710562: '송파구 방이2동',
    11710610: '송파구 삼전동',
    11710600: '송파구 석촌동',
    11710580: '송파구 송파1동',
    11710590: '송파구 송파2동',
    11710570: '송파구 오금동',
    11710566: '송파구 오륜동',
    11710670: '송파구 잠실2동',
    11710680: '송파구 잠실3동',
    11710690: '송파구 잠실4동',
    11710710: '송파구 잠실6동',
    11710720: '송파구 잠실7동',
    11710650: '송파구 잠실본동',
    11710646: '송파구 장지동',
    11710510: '송파구 풍납1동',
    11710520: '송파구 풍납2동',
    11470510: '양천구 목1동',
    11470520: '양천구 목2동',
    11470530: '양천구 목3동',
    11470540: '양천구 목4동',
    11470550: '양천구 목5동',
    11470560: '양천구 신월1동',
    11470570: '양천구 신월2동',
    11470580: '양천구 신월3동',
    11470590: '양천구 신월4동',
    11470600: '양천구 신월5동',
    11470610: '양천구 신월6동',
    11470611: '양천구 신월7동',
    11470620: '양천구 신정1동',
    11470630: '양천구 신정2동',
    11470640: '양천구 신정3동',
    11470650: '양천구 신정4동',
    11470670: '양천구 신정6동',
    11470680: '양천구 신정7동',
    11560550: '영등포구 당산제1동',
    11560560: '영등포구 당산제2동',
    11560700: '영등포구 대림제1동',
    11560710: '영등포구 대림제2동',
    11560720: '영등포구 대림제3동',
    11560585: '영등포구 도림동',
    11560605: '영등포구 문래동',
    11560630: '영등포구 신길제1동',
    11560650: '영등포구 신길제3동',
    11560660: '영등포구 신길제4동',
    11560670: '영등포구 신길제5동',
    11560680: '영등포구 신길제6동',
    11560690: '영등포구 신길제7동',
    11560610: '영등포구 양평제1동',
    11560620: '영등포구 양평제2동',
    11560540: '영등포구 여의동',
    11560535: '영등포구 영등포동',
    11560515: '영등포구 영등포본동',
    11170530: '용산구 남영동',
    11170700: '용산구 보광동',
    11170690: '용산구 서빙고동',
    11170590: '용산구 용문동',
    11170520: '용산구 용산2가동',
    11170560: '용산구 원효로제1동',
    11170570: '용산구 원효로제2동',
    11170630: '용산구 이촌제1동',
    11170640: '용산구 이촌제2동',
    11170650: '용산구 이태원제1동',
    11170660: '용산구 이태원제2동',
    11170555: '용산구 청파동',
    11170625: '용산구 한강로동',
    11170685: '용산구 한남동',
    11170580: '용산구 효창동',
    11170510: '용산구 후암동',
    11380551: '은평구 갈현제1동',
    11380552: '은평구 갈현제2동',
    11380560: '은평구 구산동',
    11380510: '은평구 녹번동',
    11380570: '은평구 대조동',
    11380520: '은평구 불광제1동',
    11380530: '은평구 불광제2동',
    11380650: '은평구 수색동',
    11380631: '은평구 신사제1동',
    11380632: '은평구 신사제2동',
    11380625: '은평구 역촌동',
    11380580: '은평구 응암제1동',
    11380590: '은평구 응암제2동',
    11380600: '은평구 응암제3동',
    11380640: '은평구 증산동',
    11380690: '은평구 진관동',
    11110600: '종로구 가회동',
    11110580: '종로구 교남동',
    11110660: '종로구 명륜3가동',
    11110570: '종로구 무악동',
    11110550: '종로구 부암동',
    11110530: '종로구 사직동',
    11110540: '종로구 삼청동',
    11110700: '종로구 숭인제1동',
    11110710: '종로구 숭인제2동',
    11110640: '종로구 이화동',
    11110615: '종로구 종로1.2.3.4가동',
    11110630: '종로구 종로5.6가동',
    11110670: '종로구 창신제1동',
    11110680: '종로구 창신제2동',
    11110690: '종로구 창신제3동',
    11110515: '종로구 청운효자동',
    11110560: '종로구 평창동',
    11110650: '종로구 혜화동',
    11140590: '중구 광희동',
    11140550: '중구 명동',
    11140520: '중구 소공동',
    11140610: '중구 신당제1동',
    11140620: '중구 신당제2동',
    11140630: '중구 신당제3동',
    11140640: '중구 신당제4동',
    11140650: '중구 신당제5동',
    11140660: '중구 신당제6동',
    11140605: '중구 을지로동',
    11140580: '중구 장충동',
    11140680: '중구 중림동',
    11140570: '중구 필동',
    11140670: '중구 황학동',
    11140540: '중구 회현동',
    11260655: '중랑구 망우본동',
    11260660: '중랑구 망우제3동',
    11260565: '중랑구 면목본동',
    11260520: '중랑구 면목제2동',
    11260575: '중랑구 면목제3.8동',
    11260540: '중랑구 면목제4동',
    11260550: '중랑구 면목제5동',
    11260570: '중랑구 면목제7동',
    11260620: '중랑구 묵제1동',
    11260630: '중랑구 묵제2동',
    11260580: '중랑구 상봉제1동',
    11260590: '중랑구 상봉제2동',
    11260680: '중랑구 신내1동',
    11260690: '중랑구 신내2동',
    11260600: '중랑구 중화제1동',
    11260610: '중랑구 중화제2동',
}

In [21]:
# 행정동 이름을 반환하는 함수
def get_dong_name(code):
    return dong_code_to_name.get(code, 'Unknown')

# 새로운 행정동 컬럼 추가
df['행정동'] = df['행정동코드'].apply(get_dong_name)

In [22]:
df.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,행정동
0,20240601,0,11110515,15064.5012,526.3518,335.3927,578.6529,362.0918,423.3428,373.9520,...,572.7480,660.4763,676.4423,840.1702,623.9791,614.9799,544.8446,327.2646,1154.5795,종로구 청운효자동
1,20240601,0,11110530,12135.6579,211.7727,94.1210,238.4391,318.2036,430.8536,502.1432,...,530.1791,746.3415,535.8321,710.3134,512.4412,522.6594,413.2529,286.9292,818.4851,종로구 사직동
2,20240601,0,11110540,3823.0432,48.7768,37.3746,317.3049,327.8128,116.3921,104.5766,...,101.8145,129.4881,165.4051,182.9473,130.3420,131.0823,133.5997,116.7484,276.9340,종로구 삼청동
3,20240601,0,11110550,13206.3659,430.5519,333.8439,409.2495,452.8922,372.2209,317.1984,...,362.3611,449.7848,569.2197,649.6453,523.5262,556.9694,504.8757,397.9339,1085.4018,종로구 부암동
4,20240601,0,11110560,19030.4431,582.3499,421.2325,507.3835,637.0036,431.3454,342.4633,...,431.0172,764.7457,762.7924,926.3720,871.3921,991.4785,827.0552,656.4224,1643.4988,종로구 평창동

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305280 entries, 0 to 305279
Data columns (total 33 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준일ID            305280 non-null  int64
 1   시간대구분            305280 non-null  int64
 2   행정동코드            305280 non-null  int64
 3   총생활인구수           305280 non-null  float64
 4   남자0세부터9세생활인구수    305280 non-null  float64
 5   남자10세부터14세생활인구수  305280 non-null  float64
 6   남자15세부터19세생활인구수  305280 non-null  float64
 7   남자20세부터24세생활인구수  305280 non-null  float64
 8   남자25세부터29세생활인구수  305280 non-null  float64
 9   남자30세부터34세생활인구수  305280 non-null  float64
 10  남자35세부터39세생활인구수  305280 non-null  float64
 11  남자40세부터44세생활인구수  305280 non-null  float64
 12  남자45세부터49세생활인구수  305280 non-null  float64
 13  남자50세부터54세생활인구수  305280 non-null  float64
 14  남자55세부터59세생활인구수  305280 non-null  float64
 15  남자60세부터64세생활인구수  305280 non-null  float64
 16  남자65세부터69세생활인구수  305280 non-null  float64
 17  남자70세이상생활인구수     305280 non-null  float64
 18  여자0세부터9세생활인구수    305280 non-null  float64
 19  여자10세부터14세생활인구수  305280 non-null  float64
 20  여자15세부터19세생활인구수  305280 non-null  float64
 21  여자20세부터24세생활인구수  305280 non-null  float64
 22  여자25세부터29세생활인구수  305280 non-null  float64
 23  여자30세부터34세생활인구수  305280 non-null  float64
 24  여자35세부터39세생활인구수  305280 non-null  float64
 25  여자40세부터44세생활인구수  305280 non-null  float64
 26  여자45세부터49세생활인구수  305280 non-null  float64
 27  여자50세부터54세생활인구수  305280 non-null  float64
 28  여자55세부터59세생활인구수  305280 non-null  float64
 29  여자60세부터64세생활인구수  305280 non-null  float64
 30  여자65세부터69세생활인구수  305280 non-null  float64
 31  여자70세이상생활인구수     305280 non-null  float64
 32  행정동              305280 non-null  object
dtypes: float64(29), int64(3), object(1)
memory usage: 76.9+ MB

In [24]:
# 총 남자 인구 수와 총 여자 인구 수를 계산하여 데이터프레임에 추가하는 함수.
def calculate_total_population(df):
    # 총 남자 인구 수 계산
    df['총남자인구수'] = (
        df['남자0세부터9세생활인구수'] +
        df['남자10세부터14세생활인구수'] +
        df['남자15세부터19세생활인구수'] +
        df['남자20세부터24세생활인구수'] +
        df['남자25세부터29세생활인구수'] +
        df['남자30세부터34세생활인구수'] +
        df['남자35세부터39세생활인구수'] +
        df['남자40세부터44세생활인구수'] +
        df['남자45세부터49세생활인구수'] +
        df['남자50세부터54세생활인구수'] +
        df['남자55세부터59세생활인구수'] +
        df['남자60세부터64세생활인구수'] +
        df['남자65세부터69세생활인구수'] +
        df['남자70세이상생활인구수']
    )

    # 총 여자 인구 수 계산
    df['총여자인구수'] = (
        df['여자0세부터9세생활인구수'] +
        df['여자10세부터14세생활인구수'] +
        df['여자15세부터19세생활인구수'] +
        df['여자20세부터24세생활인구수'] +
        df['여자25세부터29세생활인구수'] +
        df['여자30세부터34세생활인구수'] +
        df['여자35세부터39세생활인구수'] +
        df['여자40세부터44세생활인구수'] +
        df['여자45세부터49세생활인구수'] +
        df['여자50세부터54세생활인구수'] +
        df['여자55세부터59세생활인구수'] +
        df['여자60세부터64세생활인구수'] +
        df['여자65세부터69세생활인구수'] +
        df['여자70세이상생활인구수']
    )

    return df

In [25]:
df = calculate_total_population(df)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305280 entries, 0 to 305279
Data columns (total 35 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준일ID            305280 non-null  int64
 1   시간대구분            305280 non-null  int64
 2   행정동코드            305280 non-null  int64
 3   총생활인구수           305280 non-null  float64
 4   남자0세부터9세생활인구수    305280 non-null  float64
 5   남자10세부터14세생활인구수  305280 non-null  float64
 6   남자15세부터19세생활인구수  305280 non-null  float64
 7   남자20세부터24세생활인구수  305280 non-null  float64
 8   남자25세부터29세생활인구수  305280 non-null  float64
 9   남자30세부터34세생활인구수  305280 non-null  float64
 10  남자35세부터39세생활인구수  305280 non-null  float64
 11  남자40세부터44세생활인구수  305280 non-null  float64
 12  남자45세부터49세생활인구수  305280 non-null  float64
 13  남자50세부터54세생활인구수  305280 non-null  float64
 14  남자55세부터59세생활인구수  305280 non-null  float64
 15  남자60세부터64세생활인구수  305280 non-null  float64
 16  남자65세부터69세생활인구수  305280 non-null  float64
 17  남자70세이상생활인구수     305280 non-null  float64
 18  여자0세부터9세생활인구수    305280 non-null  float64
 19  여자10세부터14세생활인구수  305280 non-null  float64
 20  여자15세부터19세생활인구수  305280 non-null  float64
 21  여자20세부터24세생활인구수  305280 non-null  float64
 22  여자25세부터29세생활인구수  305280 non-null  float64
 23  여자30세부터34세생활인구수  305280 non-null  float64
 24  여자35세부터39세생활인구수  305280 non-null  float64
 25  여자40세부터44세생활인구수  305280 non-null  float64
 26  여자45세부터49세생활인구수  305280 non-null  float64
 27  여자50세부터54세생활인구수  305280 non-null  float64
 28  여자55세부터59세생활인구수  305280 non-null  float64
 29  여자60세부터64세생활인구수  305280 non-null  float64
 30  여자65세부터69세생활인구수  305280 non-null  float64
 31  여자70세이상생활인구수     305280 non-null  float64
 32  행정동              305280 non-null  object
 33  총남자인구수           305280 non-null  float64
 34  총여자인구수           305280 non-null  float64
dtypes: float64(31), int64(3), object(1)
memory usage: 81.5+ MB

In [27]:
df.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,행정동,총남자인구수,총여자인구수
0,20240601,0,11110515,15064.5012,526.3518,335.3927,578.6529,362.0918,423.3428,373.9520,...,676.4423,840.1702,623.9791,614.9799,544.8446,327.2646,1154.5795,종로구 청운효자동,6563.7671,8500.7335
1,20240601,0,11110530,12135.6579,211.7727,94.1210,238.4391,318.2036,430.8536,502.1432,...,535.8321,710.3134,512.4412,522.6594,413.2529,286.9292,818.4851,종로구 사직동,5575.4466,6560.2115
2,20240601,0,11110540,3823.0432,48.7768,37.3746,317.3049,327.8128,116.3921,104.5766,...,165.4051,182.9473,130.3420,131.0823,133.5997,116.7484,276.9340,종로구 삼청동,2088.6394,1734.4035
3,20240601,0,11110550,13206.3659,430.5519,333.8439,409.2495,452.8922,372.2209,317.1984,...,569.2197,649.6453,523.5262,556.9694,504.8757,397.9339,1085.4018,종로구 부암동,6035.2231,7171.1428
4,20240601,0,11110560,19030.4431,582.3499,421.2325,507.3835,637.0036,431.3454,342.4633,...,762.7924,926.3720,871.3921,991.4785,827.0552,656.4224,1643.4988,종로구 평창동,8391.4227,10639.0205

In [28]:
def preprocess_and_save(df, output_file):
    # 필요 없는 컬럼 리스트
    columns_to_drop = [
        '기준일ID', '시간대구분', '행정동코드'
    ]
    
    # 컬럼 제외
    df = df.drop(columns=columns_to_drop)
    
    # CSV 파일로 저장
    df.to_csv(output_file, index=False, encoding='utf-8-sig')

In [29]:
# 함수 사용
preprocess_and_save(df, '행정동단위_거주인구.csv')